<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blog{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'post-list' %}">Lgooogle</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'stats' %}">선수스탯조회</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post-create' %}">글쓰기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">로그아웃</a>
                </li>
                
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">회원가입</a>
                </li>
                {% endif %}
            </ul>

            {% if user.is_authenticated %}
            <p class="ml-auto">안녕하세요, {{ user.username }} 님</p>
            {% endif %}
        </div>
    </nav>
    <div class="container mt-3">
        {% block content %}
        {% endblock %}
    </div>
    <!-- Bootstrap JS (optional) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha2/dist/js/bootstrap.min.js"></script>
</body>
</html>
